{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/about.css'%}">
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
</head>
<body>
   
    <!-- about page -->
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                savebrites.com represents freshly promo codes and deals for various online brands and stores which helps you to avail boundless discounts on thousands of goods, groceries, garments, and accessories, etc. It's providing you the most authentic and newly coupon codes for your facility and your ease. It's our top priority to keep our promo codes collection up to date and not to make our site visitors disappoint. Our motive is to provide you a single savings platform to save your precious time and money everyday. We are also interested in making our all deals and vouchers more qualitative so that all our users keep trusting us. We want to create a userfriendly platform for the website users that enable them to save their benefit again and again. Everytime It's our basic responsibility to provide you the finest opportunity of discounts to preserve your trust

                Our all team works for the good sake of site visitors to save their time and wealth. They are committed that ceased, dummy, or less attractive deals and coupons must not be issued so that website visitors keep trusting our site. All our team works carefully on site layout so you can find your favorite deals in a very effortless way. We never compromise on the quality of our services and functions. For any type of store or brand from where you like to buy your products, there is a good chance that for this specific item we have a great offer for you. So if you want to get the advantage of our enormous discounts and deals, then visit our website Savebrites.com and get the benefit for your favorite deals
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
      </div>
      

</body>
</html>